.exclusive-deals {
  margin: 20px;
  max-width: 1000px;
}

.exclusive-deal {
  margin-bottom: 30px;
}

.deal-title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #ff5722;
}

.deal-description {
  font-size: 16px;
  margin-top: 5px;
  color: #333;
}

.deal-price {
  font-size: 20px;
  color: #4caf50;
}

.deal-origin {
  font-size: 14px;
  margin-top: 5px;
  color: #777;
}

.deal-preparation {
  font-size: 16px;
  margin-top: 10px;
  font-family: "Chelsea Market", cursive;
}

.about-deals-container {
  max-width: 600px;
}
