.flex-center {
  /* height: 50vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(27, 221, 228, 1),
    rgba(19, 96, 215, 1)
  );
}

.item-detail-name-price-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid pink; */
}

.item-detail-price {
  font-style: italic;
}

.item-detail-grid-container {
  /* border: 1px solid blueviolet; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  margin: 70px auto;
}

.item-detail-images {
  height: 300px;
  margin-top: 15px;
  /* border: 1px solid orange; */
}

.item-detail-description {
  width: 300px;
  text-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 1px solid brown; */
}

.item-detail-add-to-basket-button {
  width: 40%;
  text-wrap: nowrap;
  margin-bottom: 20px;
  background-color: orangered;
}
