/* menu item pages */

.main-containers {
  display: flex;
  margin: 100px;
  max-width: 1400px;
  /* border: 2px solid orangered; */
}

.display-items-containers {
  display: flex;
  /* display: inline-flex; */
  flex-direction: column;
  background-color: white;
  margin-left: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  /* align-items: center; */
  /* gap: 40px; */
  /* border: 1px solid green; */
}

.display-items-titles {
  height: 56px;
  font-size: 30px;
  text-align: center;
  width: 100%; /* make width same as the parent */
  /* border: 1px solid orangered; */
}

.grid-containers {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  align-items: flex-start; /* chatpgpt: align to top of container*/
  justify-content: flex-start; /*chatgpt: start from left edge*/
  gap: 20px;
  /* border: 1px solid blue; */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 24px;
  width: 300px;
  padding: 10px;
  /* border: 1px solid purple; */
  height: 200px;
}

.item-image {
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
  object-fit: contain;
}

.item-header {
  word-wrap: break-word;
  white-space: normal;
}

/* .side-bar-container {
  max-width: 30%;
  margin: 20px 0px 20px 20px;
} */

/* .side-bar-links li {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5px 0px 5px 0px;
} */

/* .favorites {
  max-width: 30%;
  margin: 20px 0px 20px 20px;
} */

/* .favorites h1 {
  margin-left: 160px;
} */

/* .menu-flex {
  max-width: 40%;
  margin: 10px 20px 20px auto;
} */

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 80%;
  margin: 10px auto;
} */
