/* sidebar left */

#left-sidebar-container {
  display: flex;
  flex-direction: column;
  /* max-width: 300px; */
  width: auto;
  color: #292929;
  /* border: 1px solid blue; */
}

#featured-container {
  /* border: 1px solid gray; */
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

#left-sidebar-main-container {
  /* border: 1px solid gray; */
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.sidebar-left-item-containers {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.sidebar-left-item-containers:hover {
  border-left: 3px solid red;
}

.sidebar-left-item-photos {
  height: 60px;
  width: 100px;
  object-fit: contain;
  margin-right: 5px;
}

.sidebar-left-item-headers {
  font-weight: normal;
  font-size: 18px;
}
