* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Speedee, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 14px;
  letter-spacing: -0.15;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.plusminus {
  font-size: 20px;
}

/* body {
  background-color: #1360d7;
} */

body {
  background-image: linear-gradient(
    to bottom,
    rgba(27, 221, 228, 1),
    rgba(19, 96, 215, 1)
  );
}
